@model IEnumerable<HP.Models.Player>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table topMarging">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
        </td>
    </tr>
}
</table>
